name: Build

on:
  push:
    branches: '*'
  pull_request:
    branches: '*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install node
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          architecture: 'x64'
      - name: Install dependencies
        run: pip install -r requirements-dev.txt
      - name: Lint the extension
        run: make eslint
      - name: Build the extension
        run: make build
      - name: Test extension install
        run: |
          python -m pip install .
          make check

  package:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install node
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
          architecture: 'x64'
      - name: Install dependencies
        run: pip install -r requirements-dev.txt
      - name: Package the extension
        run: make packages
      - name: Test extension install
        run: |
          python -m pip install ./dist/jupyterlab_quickopen*.whl
          make check
